<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Entry for Sleep Tracker</title>
    <style>
        body {
          text-align: center;
        }

    </style>
</head>
<body>
<h1>Create Entry for Sleep Tracker</h1>

<form action="#" th:action="@{/}" th:object="${sleepInfo}" method="POST">
    <input type="text" th:field="*{sleepDateTime}" placeholder="2022-01-01 21:00:00"
           pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}" >

    <input type="text" th:field="*{getUpDateTime}" placeholder="2022-01-02 05:00:00"
           pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}" >

    <button type="submit" > Save Entry</button>
</form>


</body>
</html>