<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">

    <title>Sleep Tracker</title>

</head>
<body>
<h1 class="text-center">Sleep Tracker</h1>
<h2 class="text-center">
    <a th:href="@{/create}">
        Create Entry
    </a>
</h2>

<div th:if="${!entries.isEmpty()}">
    <table class="table table-bordered">
        <tr>
            <th scope="col">Sleep</th>
            <th scope="col">Wake Up</th>
            <th scope="col">Hours</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        <tr th:each="entry:${entries}">
            <td th:text="${entry.getSleepDateTime()}"></td>
            <td th:text="${entry.getGetUpDateTime()}"></td>
            <td th:text="${entry.getHours()}"></td>

            <td>
                <a th:href="@{/update/{Id}(Id=${entry.getId()})}">
                    Edit Entry
                </a>

            </td>

            <td>
                <a th:href="@{/delete/{Id}(Id=${entry.getId()})}">
                    Delete Entry
                </a>

            </td>

        </tr>
    </table>
</div>

</body>
</html>