<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
    <title>Sleep Tracker</title>

    <style>
        body {
          text-align: center;
        }

    </style>

</head>
<body>
<h1>Sleep Tracker</h1>
<div>
    <a th:href="@{/create}">
        Create Entry
    </a>
</div>

<div th:if="${!entries.isEmpty()}">
    <table>
        <tr>
            <th>Sleep</th>
            <th>Wake Up</th>
            <th>Hours</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="entry:${entries}">
            <td th:text="${entry.getSleepDateTime()}"></td>
            <td th:text="${entry.getGetUpDateTime()}"></td>
            <td th:text="${entry.getHours()}"></td>

            <td>
                <a th:href="@{/update/{Id}(id=${entry.getId()})}">
                    Edit Entry
                </a>

            </td>

            <td>
                <a th:href="@{/delete/{Id}(id=${entry.getId()})}">
                    Delete Entry
                </a>

            </td>

        </tr>
    </table>
</div>

</body>
</html>